@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  body {
    @apply bg-white text-zinc-900 antialiased dark:bg-black dark:text-zinc-100;
  }
}

.syntax-keyword {
  color: #71717A;
}

.syntax-component {
  color: #D4D4D8;
}

.syntax-string {
  color: #D4D4D8;
}

.syntax-prop {
  color: #71717A;
}

.syntax-value {
  color: #71717A;
}

.syntax-comment {
  color: #3F3F46;
  font-style: italic;
}

.syntax-punctuation {
  color: #3F3F46;
}