@import "tailwindcss";
@import "tw-animate-css";
@import "./ui/index.css";

.syntax-keyword {
  color: var(--text-subtle);
}

.syntax-component {
  color: var(--text);
}

.syntax-string {
  color: var(--text);
}

.syntax-prop {
  color: var(--text-subtle);
}

.syntax-value {
  color: var(--text-subtle);
}

.syntax-comment {
  color: var(--text-subtlest);
  font-style: italic;
}

.syntax-punctuation {
  color: var(--text-subtlest);
}
